<nav>
  <ul>
    <li><%= render 'editorial/users/nav_item' %></li>

    <% if current_user_has_privilege?(:chief_editor) %>
        <li><%= render 'admin/editable_pages/nav_item' %></li>
    <% end %>

    <% if current_user_in_group?(:editors) %>
        <li><%= render 'admin/posts/nav_item' %></li>
        <li><%= render 'admin/media_files/nav_item' %></li>
    <% end %>
    <% if current_user_in_group?(:reporters) %>
        <li><%= render 'admin/news/nav_item' %></li>
    <% end %>
    <% if current_user_has_privilege?(:moderator) %>
        <li><%= render 'admin/comments/nav_item' %></li>
        <li><%= render 'admin/votes/nav_item' %></li>
    <% end %>
  </ul>
</nav>
