<div class="data">
  <div><%= admin_promo_block_link(entity) %></div>
  <div class="info">
    <%= entity.slug %>
  </div>
  <% unless entity.description.blank? %>
    <div class="secondary info">
      <%= entity.description %>
    </div>
  <% end %>
  <div class="secondary info">
    <%= t(:promo_item_count, count: entity.promo_items_count) %>
  </div>

  <%=
    render(
        partial: 'shared/admin/toggleable',
        locals:  {
            entity: entity,
            url:    toggle_admin_promo_block_path(id: entity.id)
        }
    )
  %>

  <ul class="actions">
    <li><%= edit_icon(edit_promo_block_path(id: entity.id)) %></li>
  </ul>
</div>
