<% content_for :meta_title, t('.title', subject: @entity.subject) %>
<% content_for :hide_sidebar, '1' %>
<% content_for :breadcrumbs do %>
    <%= link_to(t('admin.appeals.nav_item.text'), admin_appeals_path) %>
    <span><%= @entity.subject %></span>
<% end %>

<article>
  <h1><%= @entity.subject %></h1>
  <ul class="actions">
    <li><%= return_icon(admin_appeals_path) %></li>
  </ul>

  <dl>
    <dt><%= t(:created_at) %></dt>
    <dd>
      <%= time_tag @entity.created_at %>
    </dd>

    <dt><%= t(:updated_at) %></dt>
    <dd>
      <%= time_tag @entity.updated_at %>
    </dd>

    <dt><%= t('activerecord.attributes.appeal.name') %></dt>
    <dd>
      <%= @entity.name %>
    </dd>

    <% unless @entity.email.blank? %>
        <dt><%= t('activerecord.attributes.appeal.email') %></dt>
        <dd>
          <%= @entity.email %>
        </dd>
    <% end %>
    <% unless @entity.phone.blank? %>
        <dt><%= t('activerecord.attributes.appeal.phone') %></dt>
        <dd>
          <%= @entity.phone %>
        </dd>
    <% end %>
    <dt><%= t('activerecord.attributes.appeal.body') %></dt>
    <dd>
      <%= simple_format(@entity.body) %>
    </dd>
  </dl>

  <%= render partial: 'admin/appeals/toggleable', locals: { entity: @entity } %>

  <%= render partial: 'shared/track', locals: { item: @entity } %>
</article>
