<%= render partial: 'shared/list_of_errors', locals: { entity: entity } %>

<%= form_for entity do |f| %>
    <table>
      <tbody>
      <% unless entity.id.nil? %>
          <tr>
            <th><%= t('activerecord.attributes.event_sponsor.event') %></th>
            <td><%= admin_event_link(entity.event) %></td>
          </tr>
      <% end %>
      <tr>
        <th>
          <%= f.label :day_number %>
        </th>
        <td>
          <%= f.number_field :day_number, required: true, min: 1, max: entity.max_day_number, size: 3 %>
        </td>
      </tr>
      <tr>
        <th>
          <%= f.label :place %>
        </th>
        <td>
          <%= f.text_field :place, size: nil, maxlength: EventProgram::PLACE_LIMIT, placeholder: t('.placeholders.place') %>
          <div class="guideline"><%= t('.guidelines.place') %></div>
        </td>
      </tr>
      <tr>
        <th>
          <%= f.label :body %>
        </th>
        <td>
          <%= f.text_area :body, cols: 80, rows: 25, maxlength: EventProgram::BODY_LIMIT %>
          <div class="guideline"><%= t('.guidelines.body') %></div>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="2">
          <%= f.hidden_field :event_id if entity.id.nil? %>
          <%= f.button t(:save), type: :submit %>
        </td>
      </tr>
      </tfoot>
    </table>
<% end %>
