<%= render partial: 'shared/list_of_errors', locals: { entity: entity } %>

<%= form_for entity do |f| %>
    <table>
      <tbody>
      <tr>
        <th><%= f.label :priority %></th>
        <td><%= f.number_field :priority %></td>
      </tr>
      <tr>
        <th>
          <%= f.label :name %>
        </th>
        <td>
          <%= f.text_field :name, size: 25, required: true, placeholder: t('.placeholders.name') %>
        </td>
      </tr>
      <tr>
        <th>
          <%= f.label :slug %>
        </th>
        <td>
          <%= f.text_field :slug, size: 25, required: true, placeholder: t('.placeholders.slug') %>
          <div class="guideline"><%= t('.guidelines.slug') %></div>
        </td>
      </tr>
      <tr>
        <th>
          <%= f.label :description %>
        </th>
        <td>
          <%= f.text_area :description, cols: 50, rows: 3, maxlength: Group::DESCRIPTION_LIMIT %>
          <div class="guideline"><%= t('.guidelines.description') %></div>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="2">
          <%= f.button t(:save), type: :submit %>
        </td>
      </tr>
      </tfoot>
    </table>
<% end %>
