<% model_name = entity.class.to_s.underscore %>
<%=
  form_with(
      model: entity,
      html: {
          id: "#{model_name}-form",
          data: { check_url: check_taxons_path }
      }
  ) do |f|
%>
  <%= render partial: 'shared/list_of_errors', locals: { entity: entity } %>

  <dl class="fields">
    <%= render(partial: 'shared/forms/priority', locals: { f: f }) %>

    <div>
      <dt><%= f.label :name %></dt>
      <dd>
        <%=
          f.text_field(
              :name,
              class: 'input-text',
              data: { check: :name, transliterate: "#{model_name}_slug" },
              maxlength: Taxon::NAME_LIMIT,
              required: true,
              size: nil
          )
        %>
        <div class="check-result-error" data-field="name"></div>
        <div class="guideline"><%= t('.guidelines.name') %></div>
      </dd>
    </div>

    <div>
      <dt><%= f.label :nav_text %></dt>
      <dd>
        <%=
          f.text_field(
              :nav_text,
              class: 'input-text',
              data: { check: :nav_text },
              maxlength: Taxon::NAV_LIMIT,
              required: true,
              size: nil
          )
        %>
        <div class="check-result-error" data-field="nav_text"></div>
        <div class="guideline"><%= t('.guidelines.nav_text') %></div>
      </dd>
    </div>

    <div>
      <dt><%= f.label :slug %></dt>
      <dd>
        <%=
          f.text_field(
              :slug,
              class: 'input-text',
              data: { check: :slug },
              maxlength: Taxon::SLUG_LIMIT,
              pattern: Taxon::SLUG_PATTERN_HTML,
              required: true,
              size: nil,
              title: t('.guidelines.slug')
          )
        %>
        <div class="check-result-error" data-field="slug"></div>
        <div class="guideline"><%= t('.guidelines.slug') %></div>
      </dd>
    </div>

    <%= render(partial: 'shared/forms/entity_flags', locals: { f: f }) %>
  </dl>

  <%= render 'shared/forms/state_container' %>

  <div class="buttons">
    <%= hidden_field_tag :entity_id, entity.id %>
    <% if entity.id.nil? %>
      <%= f.hidden_field :parent_id %>
      <%= f.hidden_field :taxon_type_id %>
    <% end %>
    <%= f.button t(:save), class: 'button-save' %>
  </div>
<% end %>
