<div class="data">
  <div><%= admin_taxon_link(entity) %></div>
  <div class="info">
    <%= entity.slug %>
  </div>
  <% if entity.children_cache.any? %>
    <div class="secondary info">
      <%= t('attributes.children_cache') %>: <%= entity.children_cache %>
    </div>
  <% end %>

  <%=
    render(
        partial: 'shared/admin/toggleable',
        locals: {
            entity: entity,
            url: toggle_admin_taxon_path(id: entity.id)
        }
    )
  %>

  <ul class="actions">
    <li><%= edit_icon(edit_taxon_path(id: entity.id)) %></li>
    <%=
      render(
          partial: 'shared/actions/priority_changer',
          locals: { path: priority_admin_taxon_path(id: entity.id) }
      )
    %>
  </ul>
</div>
