<div class="image">
  <%= simple_image_preview(entity) %>
</div>
<div class="data">
  <div><%= admin_country_link(entity) %></div>
  <div class="info">
    <%= entity.slug %>
  </div>
  <div class="secondary info">
    <%=
      link_to(
          t(:region_count, count: entity.regions_count),
          regions_admin_country_path(id: entity.id)
      )
    %>
  </div>

  <%=
    render(
        partial: 'shared/admin/toggleable',
        locals:  {
            entity: entity,
            url:    toggle_admin_country_path(id: entity.id)
        }
    )
  %>

  <ul class="actions">
    <li><%= edit_icon(edit_country_path(id: entity.id)) %></li>
    <%=
      render(
          partial: 'shared/actions/priority_changer',
          locals:  {
              path: priority_admin_country_path(id: entity.id)
          }
      )
    %>
  </ul>
</div>
