<table>
  <tbody>
  <tr>
    <td colspan="2">
      <figure>
        <%= event_image_medium(event) %>
      </figure>
    </td>
  </tr>
  <tr>
    <th><%= t('activerecord.attributes.event.slug') %></th>
    <td><%= event.slug %></td>
  </tr>
  <tr>
    <th><%= t('activerecord.attributes.event.lead') %></th>
    <td><%= simple_format(event.lead) %></td>
  </tr>
  <% unless event.start_date.blank? %>
      <tr>
        <th><%= t('activerecord.attributes.event.start_date') %></th>
        <td><%= time_tag(event.start_date) %></td>
      </tr>
  <% end %>
  <tr>
    <th><%= t('activerecord.attributes.event.day_count') %></th>
    <td><%= event.day_count %></td>
  </tr>
  <% if event.price > 0 %>
      <tr>
        <th><%= t('activerecord.attributes.event.price') %></th>
        <td><%= event.price %></td>
      </tr>
  <% end %>
  <tr>
    <th><%= t('activerecord.attributes.event.address') %></th>
    <td><%= event.address %></td>
  </tr>
  <% unless event.coordinates.blank? %>
      <tr>
        <th><%= t('activerecord.attributes.event.coordinates') %></th>
        <td><%= event.coordinates %></td>
      </tr>
  <% end %>
  <tr>
    <td colspan="2">
      <%= raw(event.body) %>
    </td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2">
      <%= render partial: 'admin/events/toggleable', locals: { entity: event } %>
    </td>
  </tr>
  </tfoot>
</table>
