<% content_for :meta_title, t('.title', name: @entity.name) %>
<% content_for :breadcrumbs do %>
    <%= link_to t('admin.events.nav_item.text'), admin_events_path %>
    <span><%= @entity.name %></span>
<% end %>

<article class="entity-page">
  <h1><%= @entity.name %></h1>
  <ul class="actions">
    <li><%= back_icon(admin_events_path) %></li>
    <% if @entity.visible? %>
        <li><%= world_icon(event_path(@entity.id)) %></li>
    <% end %>
    <% unless @entity.locked? %>
        <li><%= edit_icon(edit_event_path(@entity.id)) %></li>
    <% end %>
  </ul>

  <nav>
    <ul>
      <li>
        <%= link_to(t(:event_participant_count, count: @entity.event_participants_count), participants_admin_event_path(@entity.id)) %>
      </li>
    </ul>
  </nav>

  <%= render @entity %>

  <%= render partial: 'admin/events/entity/speakers', locals: { event: @entity, collection: @entity.event_speakers.page_for_administration } %>
  <%= render partial: 'admin/events/entity/sponsors', locals: { event: @entity, collection: @entity.event_sponsors.page_for_administration } %>
  <%= render partial: 'admin/events/entity/materials', locals: { event: @entity, collection: @entity.event_materials.page_for_administration } %>
</article>
