<% content_for :meta_title, t('.title', name: @entity.name) %>
<% content_for :breadcrumbs do %>
  <%= admin_biovision_component_link(component_handler.component) %>
  <%= link_to(t('admin.post_groups.nav_item.text'), admin_post_groups_path) %>
  <span><%= @entity.name %></span>
<% end %>

<article>
  <h1><%= @entity.name %></h1>

  <ul class="actions">
    <li><%= edit_icon(@entity) %></li>
    <li><%= destroy_icon(@entity) %></li>
  </ul>

  <dl class="fields">
    <%= render partial: 'shared/entity/priority', locals: { entity: @entity } %>
    <%= render partial: 'shared/entity/slug', locals: { entity: @entity } %>
  </dl>

  <%= render(partial: 'shared/admin/toggle', locals: { entity: @entity }) %>

  <section>
    <h2><%= t('.taxa') %></h2>

    <%=
      render(
          partial: 'shared/admin/list_with_priority',
          locals: {
              collection: @entity.post_group_taxa.list_for_administration
          }
      )
    %>
  </section>

  <%=
    render(
        partial: 'admin/post_groups/entity/taxonomy',
        locals: {
            post_group: @entity
        }
    )
  %>
</article>
