<% content_for :meta_title, t('.title') %>
<% content_for :breadcrumbs do %>
  <%= link_to(t('admin.petitions.nav_item.text'), admin_petitions_path) %>
  <span><%= t('.nav_text') %></span>
<% end %>

<article>
  <h1><%= t('.heading') %></h1>

  <ul class="actions">
    <li><%= back_icon(admin_petitions_path) %></li>
  </ul>

  <%= render partial: 'form', locals: { entity: @entity } %>
</article>
