<% content_for :meta_title, t('.title') %>
<% content_for :hide_sidebar, '1' %>

<article>
  <h1><%= t('.title') %></h1>

  <div class="dashboard">
    <nav>
      <ul>
        <% if current_user_has_privilege?(:metrics_manager) %>
            <li><%= render 'admin/metrics/nav_item' %></li>
        <% end %>
        <% if current_user_has_privilege?(:administrator) %>
            <li><%= render 'admin/regions/nav_item' %></li>
            <li><%= render 'admin/themes/nav_item' %></li>
            <li><%= render 'admin/users/nav_item' %></li>
            <li><%= render 'admin/tokens/nav_item' %></li>
            <li><%= render 'admin/privileges/nav_item' %></li>
            <li><%= render 'admin/privilege_groups/nav_item' %></li>
            <li><%= render 'admin/post_categories/nav_item' %></li>
            <li><%= render 'admin/news_categories/nav_item' %></li>
            <li><%= render 'admin/entries/nav_item' %></li>
        <% end %>
        <% if current_user_has_privilege?(:albums_manager) %>
            <li><%= render 'admin/albums/nav_item' %></li>
        <% end %>
        <% if current_user_has_privilege?(:chief_editor) %>
            <li><%= render 'admin/editable_pages/nav_item' %></li>
        <% end %>
        <% if current_user_has_privilege?(:moderator) %>
            <li><%= render 'admin/comments/nav_item' %></li>
        <% end %>

        <% if UserPrivilege.user_in_group?(current_user, :editors) %>
            <li><%= render 'admin/posts/nav_item' %></li>
        <% end %>
        <% if UserPrivilege.user_in_group?(current_user, :reporters) %>
            <li><%= render 'admin/news/nav_item' %></li>
        <% end %>
        <% if current_user_has_privilege?(:group_manager) %>
            <li><%= render 'admin/groups/nav_item' %></li>
        <% end %>
        <% if current_user_has_privilege?(:feedback_manager) %>
            <li><%= render 'admin/appeals/nav_item' %></li>
        <% end %>
        <%= render 'admin/index/additional' %>
      </ul>
    </nav>
  </div>
</article>
