<%= render partial: 'shared/list_of_errors', locals: { entity: entity } %>

<%= form_for entity, class: 'entry-form' do |f| %>
    <figure class="preview" id="entry-image">
      <% if entity.image.blank? %>
          <%= image_tag 'image-placeholder.png' %>
      <% else %>
          <%= image_tag entity.image.big.url %>
      <% end %>
      <figcaption>
        <%= f.label :image %>
        <%= f.file_field :image, accept: 'image/jpeg,image/png', data: { image: 'entry-image' } %>
      </figcaption>
    </figure>
    <div>
      <%= f.label :title %><br />
      <%= f.text_field :title, size: 50 %>
    </div>
    <div>
      <%= f.label :body %><br />
      <%= f.text_area :body, cols: 80, rows: 50, required: true %>
    </div>
    <% if current_user.is_a?(User) && (entity.id.nil? || entity.owned_by?(current_user)) %>
        <div class="privacy">
          <div><%= t('activerecord.attributes.entry.privacy') %></div>
          <ul>
            <% Entry.privacies.keys.reject { |o| o == 'visible_to_followees' }.each do |privacy| %>
              <li>
                <% field_id = "entry_privacy_#{privacy}" %>
                <%= radio_button_tag 'entry[privacy]', privacy, entity.privacy == privacy, id: field_id %>
                <%= label_tag field_id, t("activerecord.attributes.entry.privacies.#{privacy}") %>
              </li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="buttons">
      <%= f.button t(:save), type: :submit %>
    </div>
<% end %>

<script src="/ckeditor/4-6-2/ckeditor.js"></script>
<script>
  $(function() {
      var editor = document.getElementById('entry_body');

      CKEDITOR.replace(editor, {
          removePlugins: 'stylescombo,about,sourcearea,save,pagebreak,print,preview,newpage,bidi,forms,format,font,flash,language,div,iframe,colorbutton,table,smiley,scayt,wsc,pastefromword,copyformatting',
          extraPlugins: 'embed'
      });
  });
</script>