<% content_for :meta_title, t('.title', page: current_page) %>
<% content_for :entries_selected, '1' %>

<article class="entries">
  <h1><%= t('.heading') %></h1>

  <% if current_user&.verified? %>
      <ul class="actions">
        <li><%= create_icon(new_entry_path) %></li>
      </ul>
  <% end %>

  <%= paginate @collection %>
  <%= render partial: 'entries/list', locals: { collection: @collection } %>
  <%= paginate @collection %>
</article>
