<%= render partial: 'shared/list_of_errors', locals: { entity: entity } %>

<%= form_for entity do |f| %>
    <table>
      <tbody>
      <% unless entity.id.nil? %>
          <tr>
            <th><%= t('activerecord.attributes.event_sponsor.event') %></th>
            <td><%= admin_event_link(entity.event) %></td>
          </tr>
      <% end %>
      <% if entity.attachment.blank? %>
          <tr>
            <th><%= f.label :attachment %></th>
            <td>
              <%= f.file_field :attachment %>
              <div class="guideline"><%= t('.guidelines.attachment') %></div>
            </td>
          </tr>
      <% else %>
          <tr>
            <th>
              <%= t('activerecord.attributes.event_material.attachment') %>
            </th>
            <td><%= link_to(entity.attachment, entity.attachment.url) %></td>
          </tr>
      <% end %>
      <tr>
        <th>
          <%= f.label :name %>
        </th>
        <td>
          <%= f.text_field :name, size: nil, maxlength: EventMaterial::NAME_LIMIT, required: true, placeholder: t('.placeholders.name') %>
          <div class="guideline"><%= t('.guidelines.name') %></div>
        </td>
      </tr>
      <tr>
        <th>
          <%= f.label :description %>
        </th>
        <td>
          <%= f.text_field :description, size: nil, maxlength: EventMaterial::NAME_LIMIT, placeholder: t('.placeholders.description') %>
          <div class="guideline"><%= t('.guidelines.description') %></div>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="flags">
          <ul>
            <li>
              <%= f.check_box :show_on_page %>
              <%= f.label :show_on_page %>
            </li>
          </ul>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="2">
          <%= f.hidden_field :event_id if entity.id.nil? %>
          <%= f.button t(:save), type: :submit %>
        </td>
      </tr>
      </tfoot>
    </table>
<% end %>
