<div class="image">
  <% unless post.image.blank? %>
      <%= image_tag post.image.preview.url %>
  <% end %>
</div>
<div class="data">
  <div>
    <cite><%= link_to post.title, admin_post_path(post) %></cite>
    <% unless post.entry.nil? %>
        <div class="repost">
          <%= admin_user_link(post.entry.user) %>
          <cite><%= admin_entry_link(post.entry) %></cite>
        </div>
    <% end %>
  </div>
  <div class="info">
    <%= user_link post.user %>,
    <%= time_tag post.created_at %>
  </div>
  <% unless post.post_category.nil? %>
      <div class="secondary info">
        <%= admin_post_category_link(post.post_category) %>
      </div>
  <% end %>

  <%= render partial: 'admin/posts/toggleable', locals: { post: post } %>
  <ul class="actions">
    <%= render partial: 'shared/actions/locks', locals: { entity: post, path: (current_user_has_role?(:chief_editor) ? lock_api_post_path(post) : '') } %>
    <li class="lockable <%= post.editable_by?(current_user) ? '' : 'hidden' %>">
      <%= edit_icon edit_post_path(post) %>
    </li>
    <li class="lockable <%= post.editable_by?(current_user) ? '' : 'hidden' %> danger">
      <%= destroy_icon(post) %>
    </li>
  </ul>
</div>
