<% poll = Poll.recent.active.first %>
<% unless poll.nil? %>
  <div class="sidebar-poll">
    <h3>Опрос</h3>
    <div class="questions">
      <% if poll.votable_by?(current_user) %>
        <%= form_with(url: results_poll_path(id: poll.id), local: true) do %>
          <% poll.poll_questions.ordered_by_priority.each do |question| %>
            <div>
              <div class="title"><%= question.text %></div>
              <ul>
                <% question.poll_answers.ordered_by_priority.each do |answer| %>
                  <li>
                    <% element_id = "answer_#{answer.id}" %>
                    <% if question.multiple_choice? %>
                      <%=
                        check_box_tag(
                            "answer[#{question.id}][]",
                            answer.id,
                            false,
                            id: element_id
                        )
                      %>
                    <% else %>
                      <%=
                        radio_button_tag(
                            "answer[#{question.id}][]",
                            answer.id,
                            false,
                            id:       element_id,
                            required: true
                        )
                      %>
                    <% end %>
                    <%= label_tag(element_id, answer.text) %>
                  </li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div class="buttons">
            <%= button_tag 'Голосовать', type: :submit, class: 'button button-primary' %>
          </div>
        <% end %>
      <% else %>
        <% poll.poll_questions.ordered_by_priority.each do |question| %>
          <div>
            <div class="title"><%= question.text %></div>
            <dl class="results">
              <% question.poll_answers.ordered_by_priority.each do |answer| %>
                <div style="--vote-percent: <%= answer.vote_percent %>%">
                  <dt><%= answer.text %></dt>
                  <dd><%= answer.poll_votes_count %> (<%= '%.2f' % answer.vote_percent %>%)</dd>
                </div>
              <% end %>
            </dl>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
