<div class="image">
  <%= simple_image_preview(entity) %>
</div>
<div class="data">
  <div><%= admin_candidate_link(entity) %></div>
  <div class="info">
    <%= entity.uuid %>
  </div>
  <div class="secondary info">
    <%= admin_campaign_link(entity.campaign) %>
  </div>

  <%= render(partial: 'shared/admin/toggle', locals: { entity: entity }) %>

  <ul class="actions">
    <li><%= edit_icon(entity) %></li>
    <% if entity.visible? %>
<!--      <li><%#= world_icon(candidate_campaign_path(id: entity.campaign.slug, candidate_id: entity.id)) %></li>-->
    <% end %>
  </ul>
</div>
