<% content_for :meta_title, t('.title', name: @entity.name) %>
<% content_for :hide_sidebar, '1' %>

<article class="entity-page">
  <h1><%= @entity.name %></h1>
  <ul class="actions">
    <li><%= back_icon(photos_admin_album_path(id: @entity.album_id)) %></li>
    <li><%= edit_icon(edit_photo_path(id: @entity.id)) %></li>
  </ul>

  <table>
    <tbody>
    <tr>
      <td colspan="2">
        <figure>
          <%= album_image_medium(@entity) %>
        </figure>
      </td>
    </tr>
    <tr>
      <th><%= t(:created_at) %></th>
      <td><%= time_tag @entity.created_at %></td>
    </tr>
    <tr>
      <th><%= t(:updated_at) %></th>
      <td><%= time_tag @entity.updated_at %></td>
    </tr>
    <tr>
      <th><%= t('activerecord.attributes.album.name') %></th>
      <td><%= @entity.name %></td>
    </tr>
    <tr>
      <th><%= t('activerecord.attributes.photo.album') %></th>
      <td><%= admin_album_link(@entity.album) %></td>
    </tr>
    <tr>
      <th><%= t('activerecord.attributes.album.description') %></th>
      <td><%= simple_format(@entity.description) %></td>
    </tr>
    </tbody>
  </table>
</article>
