<div class="image">
  <% unless news.image.blank? %>
      <%= image_tag news.image.preview.url %>
  <% end %>
</div>
<div class="data">
  <div>
    <% unless news.region.nil? %>
        <span class="news-region"><%= news.region.name %>:</span>
    <% end %>
    <cite><%= link_to news.title, admin_news_path(news) %></cite>
    <% unless news.entry.nil? %>
        <div class="repost">
          <%= admin_user_link(news.entry.user) %>
          <cite><%= admin_entry_link(news.entry) %></cite>
        </div>
    <% end %>
  </div>
  <div class="info">
    <%= user_link news.user %>,
    <%= time_tag news.created_at %>
  </div>

  <%= render partial: 'admin/news/toggleable', locals: { news: news } %>
  <ul class="actions">
    <%= render partial: 'shared/actions/locks', locals: { entity: news, path: (current_user_has_role?(:chief_editor) ? lock_api_news_path(news) : '') } %>
    <li class="lockable <%= news.editable_by?(current_user) ? '' : 'hidden' %>">
      <%= edit_icon edit_news_path(news) %>
    </li>
    <li class="lockable <%= news.editable_by?(current_user) ? '' : 'hidden' %> danger">
      <%= destroy_icon(news) %>
    </li>
  </ul>
</div>
