<% if post.is_a? Post %>
    <section id="main-post">
      <header>
        <%= t('.heading') %>
        <%= time_tag post.created_at.to_date %>
      </header>
      <div class="title"><%= post_link post %></div>
      <div class="body">
        <% unless post.image.blank? %>
            <figure><%= post_link post, image_tag(post.image.small.url, alt: post.title) %></figure>
        <% end %>
        <p><%= post.lead %></p>
      </div>
      <footer>
        <div><%= post_link post, t('.continue_reading') %></div>
        <div class="post-counters">
          <span class="comments"><%= post.comments_count %></span>
          <span class="views"><%= post.view_count %></span>
        </div>
      </footer>
    </section>
<% end %>
