<% if collection.load.any? %>
    <% item_count = collection.count %>
    <section id="main-slider">
      <h2>Тема дня</h2>

      <div class="slider">
        <% collection.each_with_index do |link, index| %>
            <%
              element_id = "main-slider-#{index}"
              next_id = "main-slider-#{index + 1 == item_count ? 0 : index + 1}"
              prev_id = "main-slider-#{index == 0 ? item_count - 1 : index - 1}"
            %>
            <%= radio_button_tag('main_slider', index, index == 0, id: element_id) %>
            <div class="container">
              <label for="<%= prev_id %>" class="prev">&nbsp;</label>
              <div class="slide">
                <div class="heading">
                  <%= post_link(link.post) %>
                  <%= time_tag(link.post.publication_time) %>
                </div>
                <div class="body">
                  <% unless link.post.image.blank? %>
                      <figure>
                        <%= post_link(link.post, post_image_small(link.post)) %>
                      </figure>
                  <% end %>
                  <p><%= link.post.lead %></p>
                </div>
                <div class="footer">
                  <div><%= post_link link.post, 'Читать дальше' %></div>
                  <div class="post-counters">
                    <span class="comments"><%= link.post.comments_count %></span>
                    <span class="views"><%= link.post.view_count %></span>
                  </div>
                </div>
              </div>
              <label for="<%= next_id %>" class="next">&nbsp;</label>
            </div>
        <% end %>
      </div>
    </section>

    <script>
        'use strict';

        $(function () {
            let $slider = $('#main-slider');
            let next_slide = function() {
                let $current = $slider.find('.slider > input[type=radio]:checked');

                let $next = $current.find('~ input[type=radio]').first();

                if (!$next[0]) {
                    $next = $slider.find('.slider > input[type=radio]:first-of-type');
                }

                $next.click();
            };

            $slider.on('selectstart', false);

            window.setInterval(next_slide, 5000);
        });
    </script>
<% end %>
