<div id="sidebar">
  <%= render 'shared/sidebar/calendar' %>
  <%= render 'shared/sidebar/poll' %>
  <%= render 'shared/sidebar/popular_topics' %>
  <%= render 'index/frontpage_posts/videos' %>
  <%= render 'shared/sidebar/popular_entries' %>

  <div class="sidebar-regions">
    <h3>Карта регионов</h3>

    <figure>
      <%= image_tag('regions.png', srcset: "#{asset_path('regions-2x.png')} 2x") %>
    </figure>
  </div>

  <%= render 'shared/sidebar/deeds' %>
  <%= render 'shared/sidebar/custom_sidebar' %>
</div>
