<% content_for :meta_title, t('.title', name: @entity.name) %>
<% content_for :breadcrumbs do %>
  <%= admin_biovision_component_link(component_handler.component) %>
  <%= link_to(t('admin.taxon_types.index.nav_text'), admin_taxon_types_path) %>
  <span><%= @entity.name %></span>
<% end %>

<article>
  <h1><%= @entity.name %></h1>

  <dl class="fields">
    <%= render partial: 'shared/entity/text_field', locals: { entity: @entity, field: :name } %>
    <%= render partial: 'shared/entity/slug', locals: { entity: @entity } %>
    <%= render partial: 'admin/components/comunit/entity/site', locals: { entity: @entity } %>
    <%= render partial: 'shared/entity/uuid', locals: { entity: @entity } %>
    <%= render partial: 'shared/entity/timestamps', locals: { entity: @entity } %>
  </dl>

  <%= render partial: 'shared/comunit/sync_state', locals: { entity: @entity } %>

  <%=
    render(
        partial: 'admin/components/posts/taxa',
        locals: { collection: @entity.taxa.for_tree }
    )
  %>

  <section>
    <h2><%= t('admin.taxa.new.nav_text') %></h2>

    <%= render(partial: 'admin/taxa/form', locals: { entity: @entity.taxa.new }) %>
  </section>
</article>
