<% content_for :meta_title, t('.title', type: @entity.taxon_type.name, name: @entity.name) %>
<% content_for :breadcrumbs do %>
  <%= admin_biovision_component_link(component_handler.component) %>
  <%= link_to(t('admin.taxon_types.index.nav_text'), admin_taxon_types_path) %>
  <%= admin_entity_link(@entity.taxon_type) %>
  <span><%= @entity.name %></span>
<% end %>

<article>
  <h1><%= @entity.name %></h1>

  <ul class="actions">
    <li><%= edit_icon(edit_taxon_path(id: @entity.id)) %></li>
  </ul>

  <dl class="fields">
    <%= render partial: 'admin/components/comunit/entity/site', locals: { entity: @entity } %>

    <% unless @entity.parent.nil? %>
      <div>
        <dt><%= t('activerecord.attributes.taxon.parent_id') %></dt>
        <dd><%= admin_entity_link(@entity.parent) %></dd>
      </div>
    <% end %>

    <%= render partial: 'shared/entity/priority', locals: { entity: @entity } %>
    <%= render partial: 'shared/entity/linked_entity', locals: { entity: @entity.taxon_type } %>
    <%= render partial: 'shared/entity/text_fields', locals: { entity: @entity, list: %w[name nav_text] } %>
    <%= render partial: 'shared/entity/slug', locals: { entity: @entity } %>
    <%= render partial: 'shared/entity/tree_caches', locals: { entity: @entity } %>
    <%= render partial: 'shared/entity/uuid', locals: { entity: @entity } %>
    <%= render partial: 'shared/entity/timestamps', locals: { entity: @entity } %>
  </dl>

  <%= render(partial: 'shared/admin/toggle', locals: { entity: @entity }) %>
  <%= render partial: 'shared/comunit/sync_state', locals: { entity: @entity } %>

  <%=
    render(
        partial: 'admin/components/posts/taxa',
        locals: { collection: Taxon.for_tree(@entity.id) }
    )
  %>

  <section>
    <h2><%= t('taxa.new.nav_text') %></h2>

    <%=
      render(
          partial: 'taxa/form',
          locals: { entity: @entity.child_items.new(taxon_type: @entity.taxon_type) }
      )
    %>
  </section>
</article>
