<% content_for :meta_title, t('.title', campaign: @entity.name) %>
<% content_for :breadcrumbs do %>
  <%= admin_biovision_component_link(component_handler.component) %>
  <%= link_to(t('admin.campaigns.index.nav_text'), admin_campaigns_path) %>
  <%= admin_campaign_link(@entity) %>
  <span><%= t('admin.candidates.new.nav_text') %></span>
<% end %>

<article>
  <h1><%= t('.heading') %></h1>

  <ul class="actions">
    <li><%= back_icon(admin_campaign_path(id: @entity.id)) %></li>
    <li><%= return_icon(candidates_admin_campaign_path(id: @entity.id)) %></li>
  </ul>

  <%=
    render(
        partial: 'admin/candidates/form',
        locals: {
            entity: @entity.candidates.new
        }
    )
  %>
</article>
