<% content_for :meta_title, t('.title', name: @entity.name) %>
<% content_for :breadcrumbs do %>
  <%= admin_biovision_component_link(component_handler.component) %>
  <%= link_to(t('admin.campaigns.nav_item.text'), admin_campaigns_path) %>
  <span><%= @entity.name %></span>
<% end %>

<article>
  <h1><%= @entity.name %></h1>

  <ul class="actions">
    <li><%= edit_icon(@entity) %></li>
    <% if @entity.active? %>
      <li><%= world_icon(campaign_path(id: @entity.slug)) %></li>
    <% end %>
  </ul>

  <nav>
    <%=
      link_to(
          t(:candidate_count, count: @entity.candidates_count),
          candidates_admin_campaign_path(id: @entity.id),
          class: 'button button-secondary'
      )
    %>
    <%=
      link_to(
          t('admin.candidates.new.nav_text'),
          new_candidate_admin_campaign_path(id: @entity.id),
          class: 'button button-secondary'
      )
    %>
  </nav>

  <dl>
    <%= render partial: 'shared/entity/image', locals: { entity: @entity } %>

    <div>
      <dt><%= t('attributes.slug') %></dt>
      <dd><%= @entity.slug %></dd>
    </div>

    <div>
      <dt><%= t('activerecord.attributes.campaign.name') %></dt>
      <dd><%= @entity.name %></dd>
    </div>

    <% unless @entity.date.blank? %>
      <div>
        <dt><%= t('activerecord.attributes.campaign.date') %></dt>
        <dd><%= time_tag(@entity.date) %></dd>
      </div>
    <% end %>

    <%= render partial: 'shared/entity/uuid', locals: { entity: @entity } %>
    <%= render partial: 'shared/entity/timestamps', locals: { entity: @entity } %>
  </dl>

  <%= render(partial: 'shared/admin/toggle', locals: { entity: @entity }) %>
</article>
