<div class="data">
  <div>
    <%= admin_team_link(entity) %>
  </div>
  <div class="info">
    <%= entity.slug %>,
    <%= t(:privilege_count, count: entity.team_privileges_count) %>
  </div>
  <div class="secondary info">
    <%= entity.description %>
  </div>
  <%= render partial: 'admin/teams/toggleable', locals: { entity: entity } %>

  <ul class="actions">
    <li><%= edit_icon(edit_team_path(entity)) %></li>
    <%= render partial: 'shared/actions/priority_changer', locals: { path: priority_admin_team_path(entity) } %>
  </ul>
</div>
