<section>
  <h2><%= t('.heading') %></h2>

  <% if collection.any? %>
      <ul class="list-of-entities privileges">
        <% collection.each do |privilege| %>
            <li data-url="<%= privilege_admin_team_path(id: entity.id, privilege_id: privilege.id) %>">
              <% element_id = "privilege_#{privilege.id}" %>
              <%= check_box_tag element_id, 1, entity.has_privilege?(privilege) %>
              <%= label_tag element_id, "#{privilege.slug}: #{privilege.name}" %>
            </li>
        <% end %>
      </ul>

      <script>
          'use strict';
          $(function () {
              $('ul.privileges input[type=checkbox]').on('click', function () {
                  var url = $(this).closest('li').data('url');
                  var method = $(this).is(':checked') ? 'put' : 'delete';
                  $.ajax(url, {
                      method: method,
                      success: function (response) {
                          console.log(response);
                      }
                  }).fail(handle_ajax_failure);
              });
          });
      </script>
  <% else %>
      <%= render 'shared/nothing_found' %>
  <% end %>
</section>
