<div class="image">
  <%= profile_avatar(user) %>
</div>
<div class="data">
  <div><%= admin_user_link(user) %> (<%= user.screen_name %>)</div>
  <% unless user.site.nil? %>
  <div class="secondary info">
    <%= t('activerecord.attributes.user.site_id') %>: <%= user.site.host %>
  </div>
  <% end %>
  <% unless user.notice.blank? %>
      <div><%= user.notice %></div>
  <% end %>
  <% unless user.email.blank? %>
      <div class="info">
        <div>
          <%= t('activerecord.attributes.user.email') %>:
          <%= user.email %>
        </div>
      </div>
  <% end %>
  <div class="secondary info">
    <div><%= t(:created_at) %>: <%= time_tag user.created_at %></div>
    <% unless user.last_seen.nil? %>
        <div>
          <%= t('activerecord.attributes.user.last_seen') %>:
          <%= time_tag user.last_seen %>
        </div>
    <% end %>
  </div>

  <% if user.privileges.any? %>
      <div class="secondary info">
        <%= user.privileges.map(&:name).uniq.join(', ') %>
      </div>
  <% end %>

  <%= render partial: 'admin/users/toggleable', locals: { user: user } %>
  <ul class="actions">
    <li><%= edit_icon edit_user_path(user) %></li>
  </ul>
</div>
