<div class="data">
  <div>
    <% if privilege.regional? %>
        <%= privilege.name %>
        <ul class="privilege-regions">
          <% Region.visible.ordered_by_name.each do |region| %>
              <li>
                <% element_id = "user_privilege_#{privilege.id}_#{region.id}" %>
                <%= check_box_tag element_id, 1, privilege.has_user?(user, nil), data: { url: privilege_api_user_path(id: user.id, privilege_id: privilege.id, region_id: region.id) } %>
                <%= label_tag element_id, region.name %>
              </li>
          <% end %>
        </ul>
    <% else %>
        <% element_id = "user_privilege_#{privilege.id}" %>
        <%= check_box_tag element_id, 1, privilege.has_user?(user, nil), data: { url: privilege_api_user_path(id: user.id, privilege_id: privilege.id) } %>
        <%= label_tag element_id, privilege.name %>
    <% end %>
  </div>
  <% if privilege.children.any? %>
      <%= render partial: 'admin/users/entity/privilege_tree', locals: { privileges: Privilege.for_tree(privilege.id), user: user } %>
  <% end %>
</div>
