<div class="authentication">
  <% if current_user.is_a? User %>
    <div class="plate">
      <% addition = (Notification.owned_by(current_user).unread.count > 0) ? '' : ' read' %>
      <%= link_to '&#x1f514;'.html_safe, my_notifications_path, class: "notifications #{addition}", title: t(:unread_notifications) %>
      <%= link_to current_user.profile_name, my_path %>
      <%= link_to t(:logout), logout_path, method: :delete, title: t(:logout), class: 'button-action' %>
      <% if UserPrivilege.user_has_any_privilege?(current_user) %>
          <%= link_to t('admin.index.index.title'), admin_path, class: 'button-nav' %>
      <% end %>
    </div>
  <% else %>
      <div>
        <%= link_to t('authentication.new.title'), login_path, class: 'login' %>
        <%= link_to t('my.profiles.new.title'), new_my_profile_path, class: 'join' %>
      </div>
  <% end %>
</div>
