<% content_for :meta_title, t('.title', category: @entity.name, page: current_page) %>
<% content_for :breadcrumbs do %>
    <%= link_to(t('admin.news_categories.nav_item.text'), admin_news_categories_path) %>
    <%= admin_news_category_link(@entity) %>
    <span><%= t('.heading') %></span>
<% end %>

<article>
  <h1><%= @entity.name %></h1>
  <ul class="actions">
    <li><%= return_icon(admin_news_category_path(@entity), t('activerecord.models.news_category')) %></li>
  </ul>

  <section>
    <h2><%= t('.heading') %></h2>

    <%= paginate @collection %>
    <%= render partial: 'admin/news/list', locals: { collection: @collection } %>
    <%= paginate @collection %>
  </section>
</article>