<% model_name = entity.class.to_s.underscore %>
<%=
  form_with(
      model: entity,
      html: {
          class: "#{model_name}-form",
          data: { check_url: check_deeds_path },
          id: "#{model_name}-form"
      }
  ) do |f|
%>
  <%= render partial: 'shared/list_of_errors', locals: { entity: entity } %>

  <dl class="fields">
    <div>
      <dt><%= t('.type') %></dt>
      <dd>
        <div>
          <%= f.radio_button :offer, '0', id: 'deed_offer_0', checked: !entity.offer? %>
          <%= label_tag 'deed_offer_0', 'Нужна помощь' %>
        </div>
        <div>
          <%= f.radio_button :offer, '1', id: 'deed_offer_1', checked: entity.offer? %>
          <%= label_tag 'deed_offer_1', 'Готов помощь' %>
        </div>
      </dd>
    </div>

    <%= render partial: 'shared/forms/region_select', locals: { f: f } %>

    <div>
      <dt><%= f.label :title %></dt>
      <dd>
        <%=
          f.text_field(
              :title,
              class: 'input-text',
              data: { check: :title },
              maxlength: Deed::TITLE_LIMIT,
              required: true,
              size: nil
          )
        %>
        <div class="check-result-error" data-field="title"></div>
        <div class="guideline"><%= t('.guidelines.title') %></div>
      </dd>
    </div>

    <div>
      <dt><%= f.label :image %></dt>
      <dd>
        <figure class="preview" role="group" id="<%= model_name %>-image">
          <% if entity.image.blank? %>
            <%= f.label :image, image_tag('biovision/base/placeholders/3x2.svg', alt: '') %>
          <% else %>
            <%= f.label :image, image_tag(entity.image.medium.url, alt: '') %>
          <% end %>
          <figcaption>
            <%=
              f.file_field(
                  :image,
                  id: "#{model_name}_image",
                  accept: 'image/jpeg,image/png',
                  data: { image: "#{model_name}-image" }
              )
            %>
          </figcaption>
        </figure>
        <div class="guideline"><%= t('.guidelines.image') %></div>
      </dd>
    </div>

    <div>
      <dt><%= f.label :description %></dt>
      <dd>
        <%=
          f.text_area(
              :description,
              class: 'input-text',
              cols: 20,
              data: {
                  check: :description,
                  min_rows: 5,
                  max_rows: 40
              },
              required: true,
              rows: 5
          )
        %>
        <div class="check-result-error" data-field="description"></div>
        <div class="guideline"><%= t('.guidelines.description') %></div>
      </dd>
    </div>
  </dl>

  <div class="deed-form_categories">
    <%=
      render(
          partial: 'deeds/form/categories',
          locals: {
              collection: DeedCategory.siblings(nil).list_for_visitors,
              entity: entity
          }
      )
    %>
  </div>

  <%= render 'shared/forms/state_container' %>

  <div class="buttons">
    <%= hidden_field_tag :entity_id, entity.id %>
    <%= f.button t(:save), type: :submit, class: 'button-save' %>
  </div>
<% end %>
