<article class="deed">
  <div class="content-wrapper">
    <h1><%= @entity.title %></h1>

    <figure>
      <%= simple_image_hd(@entity) %>
    </figure>

    <div class="text">
      <%= simple_format(@entity.description) %>
    </div>

    <% unless @entity.region.nil? %>
      <div class="region"><%= @entity.region.long_name %></div>
    <% end %>

    <div class="categories">
      <dfn>Категории</dfn>: <%= @entity.deed_categories.map(&:name).join(', ') %>
    </div>

    <%=
      render(
          partial: 'comments/section',
          locals: { entity: @entity }
      )
    %>
  </div>
</article>
