<div>
  <div class="category">
    <%# if post.class.to_s == Post.to_s %>
        <%= post_category_link post %>
        <%= time_tag post.created_at %>
    <%# elsif post.regional? %>
<!--        <div>-->
          <%#= regional_news_category_link post.post_category %>
          <%#= time_tag post.created_at %>
<!--        </div>-->
<!--        <div class="region"><%#= link_to(post.region.branch_name, root_path(region_id: post.region.id)) %></div>-->
    <%# else %>
        <%#= post_category_link post.post_category %>
        <%#= time_tag post.created_at %>
    <%# end %>
  </div>
  <div class="body">
    <figure>
      <% unless post.image.blank? %>
          <%= image_tag(post.image.medium.url, alt: post.title) %>
      <% end %>
      <figcaption>
        <%= (post.class.to_s == Post.to_s) ? post_link(post) : news_link(post) %>
      </figcaption>
    </figure>
    <div><%= post.lead %></div>
  </div>
  <div class="footer">
    <div class="author">
      <% if post.class.to_s != News.to_s || post.show_owner? %>
        <% if post.show_owner? %>
          <% if post.author_name.blank? %>
            <%= profile_avatar(post.user) %>
            <%= user_link post.user %>
          <% else %>
            <%= post_author_link(post) %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="post-counters">
      <span class="comments"><%= post.comments_count %></span>
      <span class="views"><%= post.view_count %></span>
    </div>
  </div>
</div>
