<%= render partial: 'shared/list_of_errors', locals: { entity: entity } %>

<%= form_for entity do |f| %>
    <table>
      <tbody>
      <tr>
        <td colspan="2">
          <figure class="preview" id="album-image">
            <% if entity.image.blank? %>
                <%= image_tag 'biovision/base/placeholders/photo.svg' %>
            <% else %>
                <%= image_tag entity.image.medium.url %>
            <% end %>
            <figcaption>
              <%= f.label :image %>
              <%= f.file_field :image, accept: 'image/jpeg', data: { image: 'album-image' } %>
            </figcaption>
          </figure>
          <div class="guideline"><%= t('.guidelines.image') %></div>
        </td>
      </tr>
      <tr>
        <th>
          <%= f.label :name %>
        </th>
        <td>
          <%= f.text_field :name, required: true, size: nil, maxlength: 100 %>
          <div class="guideline"><%= t('.guidelines.name') %></div>
        </td>
      </tr>
      <tr>
        <th>
          <%= f.label :description %>
        </th>
        <td>
          <%= f.text_area :description, required: true, cols: 80, rows: 25 %>
          <div class="guideline"><%= t('.guidelines.description') %></div>
        </td>
      </tr>
<!--
      <tr>
        <td colspan="2" class="flags">
          <ul>
            <li>
              <%= f.check_box :show_on_front %>
              <%= f.label :show_on_front %>
            </li>
          </ul>
        </td>
      </tr>
-->
      <tr>
        <td colspan="2">
          <%= f.button t(:save), type: :submit %>
        </td>
      </tr>
      </tbody>
    </table>
<% end %>
