<% content_for :meta_title, t('.title', name: @entity.title) %>
<% content_for :breadcrumbs do %>
  <%= link_to(t('admin.posts.nav_item.text'), admin_posts_path) %>
  <span><%= @entity.title %></span>
<% end %>

<article>
  <h1><%= @entity.title %></h1>

  <ul class="actions">
    <% if @entity.visible? %>
      <li><%= world_icon(@entity) %></li>
    <% end %>
    <% if @entity.editable_by?(current_user) %>
      <li><%= edit_icon(@entity) %></li>
      <li class="danger"><%= destroy_icon(@entity) %></li>
    <% end %>
  </ul>

  <dl class="fields">
    <%= render partial: 'shared/entity/simple_image', locals: { entity: @entity } %>
    <%= render partial: 'shared/entity/text_field', locals: { entity: @entity, field: :title } %>
    <%= render partial: 'shared/entity/slug', locals: { entity: @entity } %>

    <div>
      <dt><%= @entity.class.human_attribute_name(:publication_time) %></dt>
      <dd><%= time_tag(@entity.publication_time) %></dd>
    </div>

    <div>
      <dt><%= @entity.class.human_attribute_name(:user) %></dt>
      <dd><%= admin_entity_link(@entity.user) %></dd>
    </div>

    <%= render partial: 'shared/entity/text_field', locals: { entity: @entity, field: :lead } %>
    <%= render partial: 'shared/entity/raw_text_field', locals: { entity: @entity, field: :body } %>
    <%= render partial: 'shared/entity/text_field', locals: { entity: @entity, field: :source_name } %>
    <%= render partial: 'shared/entity/text_field', locals: { entity: @entity, field: :source_link } %>
    <%= render partial: 'shared/entity/text_field', locals: { entity: @entity, field: :rating } %>

    <% if @entity.taxa.any? %>
      <div>
        <dt>Таксоны</dt>
        <dd>
          <ul>
            <% @entity.taxa.each do |taxon| %>
              <li><%= admin_entity_link(taxon) %></li>
            <% end %>
          </ul>
        </dd>
      </div>
    <% end %>

    <% if @entity.post_images.any? %>
      <div>
        <dt><%= link_to(t('.images'), images_admin_post_path(id: @entity.id)) %></dt>
        <dd>
          <ul class="image-previews">
            <% @entity.post_images.list_for_administration.each do |post_image| %>
              <li><%= post_image_preview(post_image) %></li>
            <% end %>
          </ul>
        </dd>
      </div>
    <% end %>

    <%= render partial: 'shared/entity/uuid', locals: { entity: @entity } %>
    <%= render partial: 'shared/entity/timestamps', locals: { entity: @entity } %>
  </dl>

  <%= render(partial: 'shared/admin/toggle', locals: { entity: @entity}) %>
  <%= render partial: 'shared/track', locals: { item: @entity } %>

  <%=
    render(
        partial: 'admin/posts/entity/attachments',
        locals: {
            post: @entity,
            collection: @entity.post_attachments.ordered_for_list
        }
    )
  %>

  <%=
    render(
        partial: 'admin/posts/entity/additional_data',
        locals: { entity: @entity }
    )
  %>
</article>
