<% content_for :meta_title, t('.title', name: @entity.name) %>
<% content_for :breadcrumbs do %>
  <%= link_to(t('admin.countries.nav_item.text'), admin_countries_path) %>
  <span><%= @entity.name %></span>
<% end %>

<article>
  <h1><%= @entity.name %></h1>

  <ul class="actions">
    <li><%= back_icon(admin_countries_path) %></li>
    <li><%= edit_icon(edit_country_path(id: @entity.id)) %></li>
  </ul>

  <dl>
    <% unless @entity.image.blank? %>
      <dt><%= t('activerecord.attributes.country.image') %></dt>
      <dd>
        <figure class="preview">
          <%= simple_image_medium(@entity) %>
        </figure>
      </dd>
    <% end %>

    <dt><%= t('activerecord.attributes.country.name') %></dt>
    <dd><%= @entity.name %></dd>

    <dt><%= t('activerecord.attributes.country.short_name') %></dt>
    <dd><%= @entity.short_name %></dd>

    <dt><%= t('activerecord.attributes.country.locative') %></dt>
    <dd><%= @entity.locative %></dd>

    <dt><%= t('activerecord.attributes.country.slug') %></dt>
    <dd><%= @entity.slug %></dd>

    <dt><%= t('activerecord.attributes.country.regions_count') %></dt>
    <dd>
      <%=
        link_to(
            t(:region_count, count: @entity.regions_count),
            regions_admin_country_path(id: @entity.id)
        )
      %>
    </dd>

    <%= render partial: 'shared/entity/timestamps', locals: { entity: @entity } %>
  </dl>

  <%=
    render(
        partial: 'shared/admin/toggleable',
        locals:  {
            entity: @entity,
            url:    toggle_admin_country_path(id: @entity.id)
        }
    )
  %>
</article>
