<figure class="image"><%= simple_image_preview(entity) %></figure>
<div class="data">
  <div><%= admin_entity_link(entity) %></div>
  <div class="info">
    <%= admin_entity_link(entity.user) %>,
    <%= time_tag(entity.created_at) %>
  </div>
  <div class="secondaty info">
    <div><%= t(:updated_at) %>: <%= time_tag(entity.updated_at) %></div>
    <div>
      <%= t('activerecord.attributes.post.publication_time') %>:
      <%= time_tag(entity.publication_time) %>
    </div>
    <div>
      <%= t('activerecord.attributes.post.rating') %>: <%= entity.rating %>
    </div>
  </div>
  <% unless entity.lead.blank? %>
    <div class="secondary info">
      <%= entity.lead %>
    </div>
  <% end %>
  <% if entity.post_images.any? %>
    <div class="secondary info">
      <% entity.post_images.list_for_administration.each do |post_image| %>
        <%= simple_image_preview(post_image) %>
      <% end %>
    </div>
  <% end %>
  <%=
    render(
        partial: 'admin/posts/entity/in_list/additional_data',
        locals: { entity: entity }
    )
  %>
  <div class="secondary info">
    <%= entity.uuid %>
  </div>

  <%= render(partial: 'shared/admin/toggle', locals:  { entity: entity}) %>

  <ul class="actions">
    <li><%= edit_icon(entity) %></li>
    <li><%= destroy_icon(entity) %></li>
  </ul>
</div>
