<figure class="image">
  <%= simple_image_preview(entity) %>
</figure>
<div class="data">
  <div><%= admin_political_force_link(entity) %></div>
  <div class="info">
    <%= entity.slug %>
  </div>
  <div class="secondary info">
    <%=
      link_to(
          t(:candidate_count, count: entity.candidates_count),
          candidates_admin_political_force_path(id: entity.id)
      )
    %>
  </div>
  <% unless entity.flare.blank? %>
    <div class="secondary info">
      <%= entity.flare %>
    </div>
  <% end %>
  <div class="secondary info">
    <%= entity.uuid %>
  </div>

  <ul class="actions">
    <li><%= edit_icon(entity) %></li>
  </ul>
</div>
