<% content_for :meta_title, t('.title', name: @entity.name) %>
<% content_for :breadcrumbs do %>
  <%= link_to(t('admin.promo_blocks.nav_item.text'), admin_promo_blocks_path) %>
  <%= admin_promo_block_link(@entity.promo_block) %>
  <span><%= @entity.name %></span>
<% end %>

<article>
  <h1><%= @entity.name %></h1>

  <ul class="actions">
    <li><%= return_icon(admin_promo_block_path(id: @entity.promo_block_id)) %></li>
    <li><%= edit_icon(edit_promo_item_path(id: @entity.id)) %></li>
  </ul>

  <dl>
    <dt><%= t('activerecord.attributes.promo_item.promo_block') %></dt>
    <dd><%= admin_promo_block_link(@entity.promo_block) %></dd>

    <% unless @entity.image.blank? %>
      <dt><%= t('activerecord.attributes.promo_item.image') %></dt>
      <dd>
        <figure role="group" class="preview">
          <%= promo_image_medium(@entity) %>
          <figcaption><%= @entity.image_alt_text %></figcaption>
        </figure>
      </dd>
    <% end %>

    <dt><%= t('activerecord.attributes.promo_item.name') %></dt>
    <dd><%= @entity.name %></dd>

    <% unless @entity.title.blank? %>
      <dt><%= t('activerecord.attributes.promo_item.title') %></dt>
      <dd><%= @entity.title %></dd>
    <% end %>

    <% unless @entity.lead.blank? %>
      <dt><%= t('activerecord.attributes.promo_item.lead') %></dt>
      <dd><%= @entity.lead %></dd>
    <% end %>

    <% unless @entity.code.blank? %>
      <dt><%= t('activerecord.attributes.promo_item.code') %></dt>
      <dd><%= @entity.code %></dd>
    <% end %>

    <% unless @entity.url.blank? %>
      <dt><%= t('activerecord.attributes.promo_item.url') %></dt>
      <dd><%= @entity.url %></dd>
    <% end %>

    <dt><%= t(:created_at) %></dt>
    <dd><%= time_tag(@entity.created_at) %></dd>

    <dt><%= t(:updated_at) %></dt>
    <dd><%= time_tag(@entity.updated_at) %></dd>
  </dl>

  <%=
    render(
        partial: 'shared/admin/toggleable',
        locals:  {
            entity: @entity,
            url:    toggle_admin_promo_item_path(id: @entity.id)
        }
    )
  %>
</article>
