<header id="main-header">
  <% if current_region.header_image.blank? %>
      <% style = '' %>
  <% else %>
      <% style = "background: url('#{current_region.header_image.url}') no-repeat center / cover " %>
  <% end %>
  <div style="<%= style %>">
    <%= render 'layouts/application/header/authentication' %>
    <div class="central">
      <%= render 'layouts/application/header/logo' %>
      <div class="header-content">
        <%= render 'layouts/application/header_content' %>
      </div>
      <div class="arms">
        <%= region_image_preview(current_region) %>
      </div>
    </div>
    <div class="region-and-search">
      <%= render 'layouts/application/header/region_selector' %>
      <%= render 'layouts/application/header/search' %>
    </div>
  </div>
  <nav>
    <input type="checkbox" id="top-nav-control" class="visually-hidden" />
    <label for="top-nav-control"><%= image_tag('comunit/base/icons/hamburger.svg') %></label>
    <%= render 'layouts/application/main_navigation' %>
    <%= render 'layouts/application/secondary_navigation' if content_for?(:secondary_navigation) %>
  </nav>
</header>
