<header id="main-header">
  <% if current_region.header_image.blank? %>
      <% style = '' %>
  <% else %>
      <% style = "background: url('#{current_region.header_image.url}') no-repeat center / cover " %>
  <% end %>
  <div style="<%= style %>">
    <%= render 'layouts/application/header/authentication' %>
    <div class="central">
      <%= render 'layouts/application/header/logo' %>
      <div class="header-content">
        <%= render 'layouts/application/header_content' %>
      </div>
      <div class="arms">
        <% unless current_region.image.blank? %>
            <%= image_tag(current_region.image.header.url, alt: current_region.name, srcset: "#{current_region.image.url} 2x") %>
        <% end %>
      </div>
    </div>
    <div class="region-and-search">
      <%= render 'layouts/application/header/region_selector' %>
      <%= render 'layouts/application/header/search' %>
    </div>
  </div>
  <nav>
    <%= render 'layouts/application/main_navigation' %>
    <%= render 'layouts/application/secondary_navigation' if content_for?(:secondary_navigation) %>
  </nav>
</header>
