<header class="main-header">
  <div class="content-wrapper">
     <%= render 'layouts/application/header/authentication' %>
    <div class="main-header-middle">
      <%= render 'layouts/application/header/logo' %>
      <div class="header-content">
        <%= render 'layouts/application/header_content' %>
      </div>
      <div class="coat-of-arms">
        <%= region_image_preview(current_region) %>
      </div>
    </div>
    <div class="header-filter">
      <%#= render 'layouts/application/header/region_selector' %>
      <%= render 'layouts/application/header/search' %>
    </div>
  </div>
  <nav class="main-nav">
    <input type="checkbox" id="top-nav-control" class="visually-hidden hamburger-morpher" />
    <label for="top-nav-control" class="morphing-hamburger">
      <span class="a"></span>
      <span class="b"></span>
      <span class="c"></span>
    </label>
    <%= render 'layouts/application/main_navigation' %>
  </nav>
</header>
