<% content_for :meta_title, t('.title', name: @entity.name) %>
<% content_for :breadcrumbs do %>
  <%= admin_biovision_component_link(component_handler.component) %>
  <%= link_to(t('admin.political_forces.nav_item.text'), admin_political_forces_path) %>
  <span><%= @entity.name %></span>
<% end %>

<article>
  <h1><%= @entity.name %></h1>

  <ul class="actions">
    <li><%= back_icon(admin_political_forces_path) %></li>
    <li><%= edit_icon(edit_political_force_path(id: @entity.id)) %></li>
  </ul>

  <nav>
    <%=
      link_to(
          t(:candidate_count, count: @entity.candidates_count),
          candidates_admin_political_force_path(id: @entity.id),
          class: 'button-nav'
      )
    %>
  </nav>

  <dl>
    <%= render partial: 'shared/entity/image', locals: { entity: @entity } %>

    <div>
      <dt><%= t('attributes.slug') %></dt>
      <dd><%= @entity.slug %></dd>
    </div>

    <div>
      <dt><%= t('activerecord.attributes.political_force.name') %></dt>
      <dd><%= @entity.name %></dd>
    </div>

    <% unless @entity.flare.blank? %>
      <div>
        <dt><%= t('activerecord.attributes.political_force.flare') %></dt>
        <dd><%= @entity.flare %></dd>
      </div>
    <% end %>

    <%= render partial: 'shared/entity/uuid', locals: { entity: @entity } %>
    <%= render partial: 'shared/entity/timestamps', locals: { entity: @entity } %>
  </dl>
</article>
