<% content_for :meta_title, t('.title') %>

<article id="my-index" class="profile-content">
  <div>
    <h1><%= t('my.index.index.heading') %></h1>

    <figure role="group">
      <%= user_image_profile(current_user) %>
      <figcaption><%= current_user.profile_name %></figcaption>
    </figure>

    <nav class="dashboard">
      <ul>
        <li><%= render 'my/profiles/nav_item' %></li>
        <li><%= render 'my/tokens/nav_item' %></li>
        <li><%= render 'my/login_attempts/nav_item' %></li>
        <%= render 'my/index/sidebar/biovision_courses' if Gem.loaded_specs.key?('biovision-courses') %>
        <%= render 'my/index/index/custom_sidebar' %>
        <% if UserPrivilege.user_has_any_privilege?(current_user) %>
          <li><%= link_to t('admin.index.index.heading'), admin_path %></li>
        <% end %>
        <li><%= link_to t(:logout), logout_path, method: :delete %></li>
      </ul>

    </nav>
  </div>
</article>
