<div class="data">
  <div>
    <%= admin_group_link(entity) %>
  </div>
  <div class="info">
    <%= entity.slug %>, <%= t(:user_count, count: entity.users_count) %>
  </div>
  <div class="secondary info">
    <%= entity.description %>
  </div>

  <ul class="actions">
    <li><%= edit_icon(edit_group_path(entity)) %></li>
  </ul>
</div>
