<% model_name = entity.class.to_s.underscore %>
<%=
  form_with(
      model: entity,
      html:  {
          id:   "#{model_name}-form",
          data: { check_url: check_countries_path }
      }
  ) do |f|
%>
  <%= render partial: 'shared/list_of_errors', locals: { entity: entity } %>

  <dl>
    <%= render partial: 'shared/forms/priority', locals: { f: f } %>

    <dt><%= f.label :name %></dt>
    <dd>
      <%=
        f.text_field(
            :name,
            id:        "#{model_name}_name",
            size:      nil,
            maxlength: Country::NAME_LIMIT,
            required:  true,
            data:      {
                check: :name
            }
        )
      %>
      <div class="check-result-error hidden" data-field="name"></div>
      <div class="guideline"><%= t('.guidelines.name') %></div>
    </dd>

    <dt><%= f.label :short_name %></dt>
    <dd>
      <%=
        f.text_field(
            :short_name,
            id:        "#{model_name}_short_name",
            size:      nil,
            maxlength: Country::NAME_LIMIT,
            required:  true,
            data:      {
                check: :short_name
            }
        )
      %>
      <div class="check-result-error hidden" data-field="short_name"></div>
      <div class="guideline"><%= t('.guidelines.short_name') %></div>
    </dd>

    <dt><%= f.label :locative %></dt>
    <dd>
      <%=
        f.text_field(
            :locative,
            id:        "#{model_name}_locative",
            size:      nil,
            maxlength: Country::NAME_LIMIT,
            required:  true,
            placeholder: t('.placeholders.locative'),
            data:      {
                check: :locative
            }
        )
      %>
      <div class="check-result-error hidden" data-field="locative"></div>
      <div class="guideline"><%= t('.guidelines.locative') %></div>
    </dd>

    <dt><%= f.label :slug %></dt>
    <dd>
      <%=
        f.text_field(
            :slug,
            id:        "#{model_name}_slug",
            size:      nil,
            maxlength: Country::SLUG_LIMIT,
            required:  true,
            pattern:   Country::SLUG_PATTERN_HTML,
            data:      {
                check: :slug
            }
        )
      %>
      <div class="check-result-error hidden" data-field="slug"></div>
      <div class="guideline"><%= t('.guidelines.slug') %></div>
    </dd>

    <dt><%= f.label :image %></dt>
    <dd>
      <figure class="preview" role="group" id="<%= model_name %>-image">
        <% if entity.image.blank? %>
          <%= f.label :image, image_tag('biovision/base/placeholders/16x9.svg', alt: '') %>
        <% else %>
          <%= f.label :image, image_tag(entity.image.medium.url, alt: '') %>
        <% end %>
        <figcaption>
          <%=
            f.file_field(
                :image,
                id:     "#{model_name}_image",
                accept: 'image/jpeg,image/png',
                data:   { image: "#{model_name}-image" }
            )
          %>
        </figcaption>
      </figure>
      <div class="guideline"><%= t('.guidelines.image') %></div>
    </dd>

    <%= render partial: 'shared/forms/entity_flags', locals: { f: f } %>
  </dl>

  <%= render 'shared/forms/state_container' %>

  <div class="buttons">
    <%= hidden_field_tag :entity_id, entity.id %>
    <%= f.button t(:save), type: :submit, class: 'button-save' %>
  </div>
<% end %>
