<% handler = Biovision::Components::PostsComponent[current_user] %>
<article class="post-item" itemscope itemtype="http://schema.org/Article" itemprop="mainEntityOfPage">
  <div class="content-wrapper">
    <h1 itemprop="headline"><%= post.title %></h1>

    <% if handler.editable?(post) %>
      <ul class="actions">
        <% if handler.group?(:chief) %>
          <li><%= gear_icon(post) %></li>
        <% elsif post.owned_by?(current_user) %>
          <li><%= gear_icon(my_post_path(id: post.id)) %></li>
        <% end %>
        <li><%= edit_icon(post) %></li>
      </ul>
    <% end %>

    <% unless post.simple_image.blank? %>
      <% image = post.simple_image %>
      <figure itemprop="image" itemscope itemtype="http://schema.org/ImageObject" role="group">
        <%= simple_image_hd(post, { itemprop: 'about' }) %>
        <meta itemprop="url" content="<%= request.protocol + request.host_with_port + image.image.url %>"/>
          <figcaption>
            <% unless image.caption.blank? %>
              <div class="image_name" itemprop="caption">
                <%= image.caption %>
              </div>
            <% end %>
            <% unless image.source_name.blank? %>
              <div class="image_source" itemprop="author">
                <span><%= t('.image_credit') %></span>
                <% if image.source_link.blank? %>
                  <%= image.source_name %>
                <% else %>
                  <%= link_to(image.source_name, image.source_link, rel: 'external nofollow noopener noreferrer', itemprop: 'url', target: '_blank') %>
                <% end %>
              </div>
            <% end %>
          </figcaption>
      </figure>
    <% end %>

    <div class="text" itemprop="articleBody mainEntityOfPage">
      <p class="lead"><%= post.lead %></p>

      <div class="body">
        <%= raw post.body %>
      </div>
    </div>

    <%#=
      render(
          partial: 'posts/entity/gallery',
          locals: {
              collection: post.post_images.list_for_visitors
          }
      )
    %>

    <% if post.post_attachments.any? %>
      <section class="post-attachments">
        <h3><%= t('.attachments') %></h3>

        <ul>
          <% post.post_attachments.ordered_for_list.each do |attachment| %>
            <% next if attachment.file.blank? %>
            <li>
              <%= post_attachment_link(attachment) %>
              (<%= number_to_human_size(attachment.size) %>)
            </li>
          <% end %>
        </ul>
      </section>
    <% end %>

    <footer>
      <% if post.show_owner? %>
        <div class="author" itemprop="author" itemscope itemtype="http://schema.org/Person">
          <span itemprop="name" aria-label="<%= post.class.human_attribute_name(:user) %>">
              <%= user_link(post.user) %>
          </span>
        </div>
      <% end %>
        <div class="source">
          <span><%= t('.source') %>:</span>
          <% if post.source_link.blank? %>
            <span itemprop="isBasedOn"><%= post.source_name %></span>
          <% else %>
            <%= link_to(post.source_name, post.source_link, rel: 'external nofollow noopener noreferrer', itemprop: 'isBasedOn', target: '_blank') %>
          <% end %>
        </div>

      <div class="time">
        <%= time_tag post.publication_time, itemProp: 'datePublished', aria: { label: post.class.human_attribute_name(:publication_time) } %>
      </div>

      <div class="post-counters">
        <span class="views"><%= post.view_count %></span>
        <span class="comments"><%= post.comments_count %></span>
      </div>

      <% if post.taxa.any? %>
        <ul class="post-taxa">
          <% post.taxa.each do |taxon| %>
            <li><%= taxon_link(taxon) %></li>
          <% end %>
        </ul>
      <% end %>

      <meta itemprop="commentCount" content="<%= post.comments_count %>"/>
      <meta itemprop="dateModified" content="<%= post.updated_at.strftime('%Y-%m-%d') %>"/>
    </footer>

    <%= render 'shared/pluso' %>
  </div>
</article>
