<% handler = Biovision::Components::PostsComponent[current_user] %>
<article class="post-item" itemscope itemtype="http://schema.org/Article" itemprop="mainEntityOfPage">
  <div class="content-wrapper">
    <h1 itemprop="headline"><%= post.title %></h1>

    <% if handler.editable?(post) %>
      <ul class="actions">
        <% if handler.group?(:chief) %>
          <li><%= gear_icon(admin_post_path(id: post.id)) %></li>
        <% elsif post.owned_by?(current_user) %>
          <li><%= gear_icon(my_post_path(id: post.id)) %></li>
        <% end %>
        <li><%= edit_icon(handler.edit_path(post)) %></li>
      </ul>
    <% end %>

    <% unless post.image.blank? %>
      <figure itemprop="image" itemscope itemtype="http://schema.org/ImageObject" role="group">
        <%= post_image_large(post, { itemprop: 'about' }) %>
        <meta itemprop="url" content="<%= request.protocol + request.host_with_port + post.image.url %>"/>
        <% if post.has_image_data? %>
          <figcaption>
            <% unless post.image_name.blank? %>
              <div class="image_name" itemprop="caption">
                <%= post.image_name %>
              </div>
            <% end %>
            <% unless post.image_source_name.blank? %>
              <div class="image_source" itemprop="author">
                <span><%= t('.image_credit') %></span>
                <% if post.image_source_link.blank? %>
                  <%= post.image_source_name %>
                <% else %>
                  <%= link_to(post.image_source_name, post.image_source_link, rel: 'external nofollow noopener noreferrer', itemprop: 'url', target: '_blank') %>
                <% end %>
              </div>
            <% end %>
          </figcaption>
        <% end %>
      </figure>
    <% end %>

    <div class="text" itemprop="articleBody mainEntityOfPage">
      <p class="lead"><%= post.lead %></p>

      <div class="body">
        <%= raw post.body %>
      </div>
    </div>

    <%=
      render(
          partial: 'posts/entity/gallery',
          locals: {
              collection: post.post_images.list_for_visitors
          }
      )
    %>

    <% if post.tags_cache.any? %>
      <ul class="tags" aria-label="<%= t('activerecord.attributes.post.tags_cache') %>">
        <% post.tags_cache.each do |tag_name| %>
          <li><%= tagged_posts_link(tag_name, post) %></li>
        <% end %>
      </ul>
    <% end %>

    <% if post.post_attachments.any? %>
      <section class="post-attachments">
        <h3><%= t('.attachments') %></h3>

        <ul>
          <% post.post_attachments.ordered_for_list.each do |attachment| %>
            <% next if attachment.file.blank? %>
            <li>
              <%= post_attachment_link(attachment) %>
              (<%= number_to_human_size(attachment.size) %>)
            </li>
          <% end %>
        </ul>
      </section>
    <% end %>

    <footer>
      <% if post.show_owner? %>
        <div class="author" itemprop="author" itemscope itemtype="http://schema.org/Person">
          <span itemprop="name" aria-label="<%= t('activerecord.attributes.post.user') %>">
            <% if post.author_name.blank? %>
              <%= user_link(post.user) %>
            <% else %>
              <%= post_author_link(post) %>
              <% unless post.author_title.blank? %>
              <span class="author-title"><%= post.author_title %></span>
              <% end %>
            <% end %>
          </span>
        </div>
      <% end %>
      <% if post.has_source_data? %>
        <div class="source">
          <span><%= t('.source') %>:</span>
          <% if post.source_link.blank? %>
            <span itemprop="isBasedOn"><%= post.source_name %></span>
          <% else %>
            <%= link_to(post.source_name, post.source_link, rel: 'external nofollow noopener noreferrer', itemprop: 'isBasedOn', target: '_blank') %>
          <% end %>
        </div>
      <% end %>

      <div class="time">
        <%= time_tag post.publication_time, itemProp: 'datePublished', aria: { label: t('activerecord.attributes.post.created_at') } %>
      </div>

      <div class="post-counters">
        <span class="views"><%= post.view_count %></span>
        <% if post.allow_comments? && 'CommentableItem'.safe_constantize %>
          <span class="comments"><%= post.comments_count %></span>
        <% end %>
      </div>

      <% if post.taxa.any? %>
        <ul class="post-taxa">
          <% post.taxa.each do |taxon| %>
            <li><%= taxon_link(taxon) %></li>
          <% end %>
        </ul>
      <% end %>

      <meta itemprop="commentCount" content="<%= post.comments_count %>"/>
      <meta itemprop="dateModified" content="<%= post.updated_at.strftime('%Y-%m-%d') %>"/>
    </footer>

    <%= render 'shared/pluso' %>
  </div>
</article>
