<div class="post-preview" role="group">
  <figure class="image">
    <%=
      entity_link(
          entity,
          simple_image_small(entity),
          class: 'covered proportional-container r-3x2'
      )
    %>
  </figure>
  <div class="text">
    <div class="title"><%= entity_link(entity) %></div>
    <p class="lead"><%= entity_link(entity, entity.lead) %></p>
  </div>
  <div class="meta">
    <div class="category" aria-label="<%= %>">
      <% entity.taxa.each do |taxon| %>
        <%= taxon_link(taxon) if taxon.site&.uuid == ENV['SITE_ID'] %>
      <% end %>
    </div>
    <div class="time-and-author">
      <% if entity.show_owner? %>
        <%= user_link(entity.user) %>
      <% end %>
      <%= time_tag(entity.publication_time.to_date, format: :default) %>
    </div>
  </div>
  <div class="post-counters">
    <span class="comments"><%= entity.comments_count %></span>
    <span class="views"><%= entity.view_count %></span>
  </div>
</div>
