<% content_for :meta_title, t('.title') %>
<% content_for :breadcrumbs do %>
  <%= link_to(t('posts.archive.heading'), posts_path) %>
  <%= link_to(params[:year], archive_posts_path(year: params[:year])) %>
  <%= link_to(t('date.nominative_month_names')[params[:month].to_i], archive_posts_path(year: params[:year], month: params[:month])) %>
  <span><%= params[:day] %></span>
<% end %>

<article>
  <h1>
    <%= l(Date.parse("#{params[:year]}-#{params[:month]}-#{params[:day]}")) %>
  </h1>

  <%= render partial: 'posts/collection', locals: { collection: @collection } %>
</article>
