<% content_for :meta_title, t('.title', category: @category&.name, page: current_page) %>
<% content_for :posts_selected, '1' %>
<% content_for :selected_item, 'pc' + (@category&.parents.first&.id || @category&.id).to_s %>
<% content_for :breadcrumbs do %>
  <%= link_to(t('posts.nav_item.text'), posts_path) %>
  <% @category&.parents.each do |parent| %>
    <%= post_category_link(parent) %>
  <% end %>
  <span><%= @category.name %></span>
<% end %>

<article>
  <h1><%= t('.heading', category: @category.full_title) %></h1>

  <%= paginate @collection %>
  <%= render partial: 'posts/list', locals: { collection: @collection } %>
  <%= paginate @collection %>
</article>