<ul class="main-navigation">
  <li><%= link_to 'Настройки', '#' %></li>
  <li><%= link_to t('my.profiles.show.heading'), my_profile_path %></li>
  <li><%= link_to 'Мои новости', my_entries_path %></li>
  <li><%= link_to 'Блог', entries_path %></li>
  <li><%= link_to 'Друзья', my_followees_path %></li>
  <li><%= link_to 'Подписчики', my_followers_path %></li>
</ul>
