<% content_for :meta_title, t('.title', name: @entity.name) %>
<% content_for :hide_sidebar, '1' %>

<article class="entity-page">
  <h1><%= @entity.name %></h1>
  <ul class="actions">
    <li><%= back_icon(admin_groups_path) %></li>
    <li><%= edit_icon(edit_group_path(@entity.id)) %></li>
  </ul>

  <section id="group-users">
    <h2><%= t(:user_count, count: @entity.users_count) %></h2>

    <%= paginate @collection %>
    <%= render partial: '/admin/groups/users/list', locals: { collection: @collection, group: @entity } %>
    <%= paginate @collection %>
  </section>

  <section data-filter-url="<%= users_admin_group_path(@entity.id) %>">
    <h2><%= t('.add_user') %></h2>

    <%= render partial: 'users/filter', locals: { filter: {} } %>

    <ul class="list-of-entities" id="found-users"></ul>
  </section>
</article>

<script>
    'use strict';

    $(function () {
        $('form.filter').on('submit', function (e) {
            e.preventDefault();

            var url = $(this).closest('section').data('filter-url');

            $.get(url, function (response) {
                if (!response.hasOwnProperty('data')) {
                    return;
                }
                if (!response['data'].hasOwnProperty('users')) {
                    return;
                }
                var content = '';
                var $container = $('#found-users');

                for (var i in response['data']['users']) {
                    if (!response['data']['users'].hasOwnProperty(i)) {
                        continue;
                    }

                    content += '<li>' + response['data']['users'][i]['html'] + '</li>';
                }

                $container.html(content);

            }).fail(handle_ajax_failure);
        });

        $(document).on('click', '.group-user a', function (e) {
            e.preventDefault();

            var method = $(this).hasClass('remove-user') ? 'delete' : 'put';
            var url = $(this).attr('href');
            var $li = $(this).closest('li:not([class])');
            var $section = $('#group-users');
            var $container = $section.find('ul.list-of-entities');

            $.ajax(url, {
                method: method,
                success: function (response) {
                    if (response && response.hasOwnProperty('data')) {
                        $li.detach();
                        if (!$container[0]) {
                            $section.find('div.message-box-warning').remove();
                            $container = $('<ul class="list-of-entities"></ul>');
                            $section.append($container);
                        }

                        $container.append($li);
                        $li.find('.actions').remove();
                    } else {
                        $li.remove();
                    }
                }
            }).fail(handle_ajax_failure);
        });
    })
</script>
