<figure class="image"><%= site_image(entity) %></figure>
<div class="data">
  <div><%= admin_entity_link(entity) %></div>
  <div class="info"><%= entity.host %></div>
  <div class="secondary info">
    <%= entity.class.human_attribute_name(:version) %>:
    <%= entity.version %>
  </div>
  <div class="secondary info"><%= entity.uuid %></div>
  <% unless entity.description.blank? %>
    <div class="secondary info"><%= entity.description %></div>
  <% end %>

  <%= render(partial: 'shared/admin/toggle', locals: { entity: entity }) %>

  <ul class="actions">
    <li><%= edit_icon(entity) %></li>
    <% if entity.active? %>
      <li>
        <%=
          world_icon(
              entity.host,
              entity.host,
              target: '_blank',
              rel: 'external noopener noreferrer'
          )
        %>
      </li>
    <% end %>
  </ul>
</div>
