<div class="image">
  <%= region_image_preview(entity) %>
</div>
<div class="data">
  <div><%= admin_region_link(entity) %></div>
  <div class="info">
    <div><%= entity.long_slug %></div>
  </div>
  <div class="secondary info">
    <%= t(:child_region_count, count: entity.children_cache.count) %>
  </div>
  <%= render partial: 'shared/admin/toggleable', locals: { entity: entity, url: toggle_admin_region_path(id: entity.id) } %>

  <ul class="actions">
    <%=
      render(
          partial: 'shared/actions/priority_changer',
          locals:  { path: priority_admin_region_path(id: entity.id) }
      )
    %>
  </ul>
</div>
