<div class="image">
  <%= region_image_preview(entity) %>
</div>
<div class="data">
  <div><%= link_to entity.name, admin_region_path(entity) %></div>
  <div class="info">
    <%= entity.slug %>
  </div>
  <div class="secondary info">
    <%= t(:user_count, count: entity.users_count) %>,
    <%= t(:post_count, count: entity.news_count) %>
  </div>
  <%= render partial: 'admin/regions/toggleable', locals: { entity: entity } %>

  <ul class="actions">
    <li class="lockable <%= entity.editable_by?(current_user) ? '' : 'hidden' %>">
      <%= edit_icon edit_region_path(entity) %>
    </li>
    <%= render partial: 'shared/actions/locks', locals: { entity: entity, path: lock_api_region_path(entity) } %>
  </ul>
</div>
