<% content_for :meta_title, t('.title', poll: @entity.poll.name, question: @entity.text) %>
<% content_for :breadcrumbs do %>
  <%= admin_biovision_component_link(component_handler.component) %>
  <%= link_to(t('admin.polls.index.nav_text'), admin_polls_path) %>
  <%= admin_poll_link(@entity.poll) %>
  <span><%= @entity.priority %>: <%= @entity.text %></span>
<% end %>

<article>
  <h1><%= @entity.text %></h1>

  <ul class="actions">
    <li><%= return_icon(admin_poll_path(id: @entity.poll_id)) %></li>
    <li><%= edit_icon(edit_poll_question_path(id: @entity.id)) %></li>
  </ul>

  <dl>
    <div>
      <dt><%= t('attributes.poll') %></dt>
      <dd>
        <%= admin_poll_link(@entity.poll) %>
      </dd>
    </div>

    <%= render partial: 'shared/entity/priority', locals: { entity: @entity } %>

    <div>
      <dt><%= t('activerecord.attributes.poll_question.text') %></dt>
      <dd>
        <div class="text"><%= @entity.text %></div>
      </dd>
    </div>

    <% unless @entity.comment.blank? %>
      <div>
        <dt><%= t('activerecord.attributes.poll_question.comment') %></dt>
        <dd>
          <div class="text"><%= @entity.comment %></div>
        </dd>
      </div>
    <% end %>

    <%= render partial: 'shared/entity/uuid', locals: { entity: @entity } %>
    <%= render partial: 'shared/entity/timestamps', locals: { entity: @entity } %>
  </dl>

  <%= render partial: 'admin/poll_questions/entity/data', locals: { entity: @entity } %>

  <%=
    render(
        partial: 'shared/admin/toggleable',
        locals: {
            entity: @entity,
            url: toggle_admin_poll_question_path(id: @entity.id)
        }
    )
  %>

  <section>
    <h2><%= t(:poll_answer_count, count: @entity.poll_answers_count) %></h2>

    <%=
      render(
          partial: 'shared/admin/list_with_priority',
          locals: { collection: @entity.poll_answers.ordered_by_priority }
      )
    %>
  </section>

  <% if @entity.poll_answers.count < 10 %>
    <section>
      <h2><%= t('poll_answers.new.heading') %></h2>

      <%= render partial: 'poll_answers/form', locals: { entity: @entity.poll_answers.new } %>
    </section>
  <% end %>
</article>
