<% content_for :meta_title, t('.title', region: @entity.name) %>

<article class="entity-page">
  <h1><%= @entity.name %></h1>
  <ul class="actions">
    <li><%= back_icon(admin_region_path(@entity.id)) %></li>
  </ul>

  <section>
    <h2><%= t('.heading') %></h2>

    <% if @collection.any? %>
        <ul class="list-of-entities">
          <% @collection.each do |entity| %>
              <li>
                <div class="data">
                  <div><%= entity.name %></div>
                  <div class="secondary info">
                    <%= t(:news_count, count: entity.news_count) %>
                  </div>
                  <ul class="actions">
                    <li class="lockable <%= entity.locked? ? 'hidden' : '' %>">
                      <%= edit_icon edit_city_path(entity.id) %>
                    </li>
                    <%= render partial: 'shared/actions/locks', locals: { entity: entity, path: lock_api_city_path(entity) } %>
                  </ul>
                </div>
              </li>
          <% end %>
        </ul>
    <% else %>
        <%= render 'shared/nothing_found' %>
    <% end %>
  </section>

  <section>
    <h2><%= t('cities.new.title') %></h2>

    <%= render partial: 'cities/form', locals: { entity: @entity.cities.new } %>
  </section>
</article>