<% model_name = entity.class.to_s.underscore %>
<%=
  form_with(
      model: entity,
      html: {
          id: "#{model_name}-form",
          data: { check_url: check_campaigns_path }
      }
  ) do |f|
%>
  <%= render partial: 'shared/list_of_errors', locals: { entity: entity } %>

  <dl>
    <%= render partial: 'shared/forms/region_select', locals: { f: f } %>

    <dt><%= f.label :name %></dt>
    <dd>
      <%=
        f.text_field(
            :name,
            id: "#{model_name}_name",
            size: nil,
            maxlength: Campaign::NAME_LIMIT,
            required: true,
            data: {
                check: :name,
                transliterate: "#{model_name}_slug"
            }
        )
      %>
      <div class="check-result-error" data-field="name"></div>
      <div class="guideline"><%= t('.guidelines.name') %></div>
    </dd>

    <dt><%= f.label :slug %></dt>
    <dd>
      <%=
        f.text_field(
            :slug,
            id: "#{model_name}_slug",
            size: nil,
            maxlength: Campaign::SLUG_LIMIT,
            pattern: Campaign::SLUG_PATTERN_HTML,
            title: t('.guidelines.slug'),
            required: true,
            data: {
                check: :slug
            }
        )
      %>
      <div class="check-result-error" data-field="slug"></div>
      <div class="guideline"><%= t('.guidelines.slug') %></div>
    </dd>

    <dt><%= f.label :image %></dt>
    <dd>
      <figure class="preview" role="group" id="<%= model_name %>-image">
        <% if entity.image.blank? %>
          <%= f.label :image, image_tag('biovision/base/placeholders/1x1.svg', alt: '') %>
        <% else %>
          <%= f.label :image, image_tag(entity.image.medium_url, alt: '') %>
        <% end %>
        <figcaption>
          <%=
            f.file_field(
                :image,
                id: "#{model_name}_image",
                accept: 'image/jpeg,image/png,image/svg+xml',
                data: { image: "#{model_name}-image" }
            )
          %>
        </figcaption>
      </figure>
      <div class="guideline"><%= t('.guidelines.image') %></div>
    </dd>

    <dt><%= f.label :date %></dt>
    <dd>
      <%= f.date_field(:date, id: "#{model_name}_date") %>
    </dd>

    <%= render partial: 'shared/forms/entity_flags', locals: { f: f } %>
  </dl>

  <%= render 'shared/forms/state_container' %>

  <div class="buttons">
    <%= hidden_field_tag :entity_id, entity.id %>
    <%= f.button t(:save), type: :submit, class: 'button-save' %>
  </div>
<% end %>
