<% content_for :meta_title, t('.title', title: @entity.title) %>

<%= render partial: 'adjacent', locals: { entries: @adjacent } %>
<article class="entity-page">
  <h1><%= @entity.title %></h1>
  <ul class="actions">
    <li><%= back_icon admin_entries_path %></li>
    <li><%= view_icon entry_path(@entity) %></li>
    <% if @entity.editable_by? current_user %>
        <li><%= edit_icon edit_entry_path(@entity) %></li>
        <li class="danger"><%= destroy_icon @entity %></li>
    <% end %>
  </ul>

  <table>
    <tbody>
    <tr>
      <th><%= t('activerecord.attributes.entry.user') %></th>
      <td><%= admin_user_link(@entity.user) %></td>
    </tr>
    <tr>
      <th><%= t(:created_at) %></th>
      <td><%= time_tag @entity.created_at %></td>
    </tr>
    <tr>
      <th><%= t(:updated_at) %></th>
      <td><%= time_tag @entity.updated_at %></td>
    </tr>
    <tr>
      <th><%= t('activerecord.attributes.entry.slug') %></th>
      <td><%= @entity.slug %></td>
    </tr>
    <tr>
      <th><%= t('activerecord.attributes.entry.body') %></th>
      <td><%= raw @entity.body %></td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="2">
        <nav>
          <ul>
            <li><%= link_to t(:comment, count: @entity.comments_count), comments_admin_entry_path(@entity) %></li>
          </ul>
        </nav>
      </td>
    </tr>
    </tfoot>
  </table>
</article>
