<% model_name = entity.class.to_s.underscore %>
<%=
  form_with(
      model: entity,
      html: {
          id: "#{model_name}-form",
          data: { check_url: check_sites_path }
      }
  ) do |f|
%>
  <%= render partial: 'shared/list_of_errors', locals: { entity: entity } %>

  <dl>
    <div>
      <dt><%= f.label :name %></dt>
      <dd>
        <%=
          f.text_field(
              :name,
              data: {
                  check: :name
              },
              id: "#{model_name}_name",
              maxlength: Site::NAME_LIMIT,
              required: true,
              size: nil
          )
        %>
        <div class="check-result-error" data-field="name"></div>
        <div class="guideline"><%= t('.guidelines.name') %></div>
      </dd>
    </div>

    <div>
      <dt><%= f.label :host %></dt>
      <dd>
        <%=
          f.url_field(
              :host,
              data: {
                  check: :host
              },
              id: "#{model_name}_host",
              maxlength: Site::HOST_LIMIT,
              required: true,
              size: nil
          )
        %>
        <div class="check-result-error" data-field="host"></div>
        <div class="guideline"><%= t('.guidelines.host') %></div>
      </dd>
    </div>

    <div>
      <dt><%= f.label :description %></dt>
      <dd>
        <%=
          f.text_field(
              :description,
              data: {
                  check: :description
              },
              id: "#{model_name}_description",
              maxlength: Site::DESCRIPTION_LIMIT,
              size: nil
          )
        %>
        <div class="check-result-error" data-field="description"></div>
        <div class="guideline"><%= t('.guidelines.description') %></div>
      </dd>
    </div>

    <div>
      <dt><%= f.label :image %></dt>
      <dd>
        <figure class="preview" role="group" id="<%= model_name %>-image">
          <% if entity.image.blank? %>
            <%= f.label :image, image_tag('biovision/base/placeholders/1x1.svg', alt: '') %>
          <% else %>
            <%= f.label :image, image_tag(entity.image.url, alt: '') %>
          <% end %>
          <figcaption>
            <%=
              f.file_field(
                  :image,
                  accept: 'image/*',
                  data: { image: "#{model_name}-image" },
                  id: "#{model_name}_image"
              )
            %>
          </figcaption>
        </figure>
        <div class="guideline"><%= t('.guidelines.image') %></div>
      </dd>
    </div>

    <% unless entity.id.nil? %>
      <div>
        <dt><%= f.label :token %></dt>
        <dd>
          <%=
            f.text_field(
                :token,
                data: {
                    check: :token
                },
                id: "#{model_name}_token",
                maxlength: 50,
                required: true,
                size: nil
            )
          %>
          <div class="check-result-error" data-field="token"></div>
          <div class="guideline"><%= t('.guidelines.token') %></div>
        </dd>
      </div>
    <% end %>

    <div>
      <dt><%= f.label :version %></dt>
      <dd>
        <%=
          f.number_field(
              :version,
              data: {
                  check: :version
              },
              id: "#{model_name}_version",
              min: 0,
              required: true,
              size: nil
          )
        %>
        <div class="check-result-error" data-field="version"></div>
        <div class="guideline"><%= t('.guidelines.version') %></div>
      </dd>
    </div>

    <%= render partial: 'shared/forms/entity_flags', locals: { f: f } %>
  </dl>

  <%= render 'shared/forms/state_container' %>

  <div class="buttons">
    <%= hidden_field_tag :entity_id, entity.id %>
    <%= f.button t(:save), type: :submit, class: 'button-save' %>
  </div>
<% end %>
