<!DOCTYPE html>
<html lang="<%= locale %>" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="UTF-8" />
  <title><%= yield :meta_title %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <%= render 'layouts/meta_texts' %>
  <%= render 'layouts/favicons' %>
</head>
<body>
<%= render 'layouts/application/header' %>

<div id="main" role="main">
  <div class="content <%= content_for?(:hide_sidebar) ? 'no-sidebar' : 'with-sidebar' %>">
    <%= render 'shared/breadcrumbs' %>
    <%= render 'shared/flash_messages' %>
    <%= yield %>
  </div>
  <%= render 'shared/sidebar' unless content_for?(:hide_sidebar) %>
</div>

<%= render 'layouts/application/footer' %>
<%= render 'shared/counters' %>
</body>
</html>
