<%= render partial: 'shared/list_of_errors', locals: { entity: entity } %>

<%= form_for entity do |f| %>
    <table>
      <tbody>
      <tr>
        <td colspan="2">
          <figure class="preview" id="event-speaker-image">
            <% if entity.image.blank? %>
                <% image = image_tag('biovision/base/placeholders/user.svg') %>
            <% else %>
                <% image = image_tag(entity.image.medium.url) %>
            <% end %>
            <%= label_tag(:event_speaker_image, image) %>
            <figcaption>
              <%= f.label :image %>
              <%= f.file_field :image, accept: 'image/jpeg', data: { image: 'event-speaker-image' } %>
            </figcaption>
          </figure>
          <div class="guideline"><%= t('.guidelines.image') %></div>
        </td>
      </tr>
      <% unless entity.id.nil? %>
          <tr>
            <th><%= t('activerecord.attributes.event_speaker.event') %></th>
            <td><%= admin_event_link(entity.event) %></td>
          </tr>
      <% end %>
      <tr>
        <th>
          <%= f.label :name %>
        </th>
        <td>
          <%= f.text_field :name, size: nil, maxlength: EventSpeaker::NAME_LIMIT, required: true %>
          <div class="guideline"><%= t('.guidelines.name') %></div>
        </td>
      </tr>
      <tr>
        <th>
          <%= f.label :occupation %>
        </th>
        <td>
          <%= f.text_field :occupation, size: nil, maxlength: EventSpeaker::OCCUPATION_LIMIT %>
          <div class="guideline"><%= t('.guidelines.occupation') %></div>
        </td>
      </tr>
      <tr>
        <th>
          <%= f.label :priority %>
        </th>
        <td>
          <%= f.number_field :priority, size: 2, maxlength: 2, in: EventSpeaker::PRIORITY_LIMIT, required: true %>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="flags">
          <ul>
            <li>
              <%= f.check_box :visible %>
              <%= f.label :visible %>
            </li>
          </ul>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="2">
          <%= f.hidden_field :event_id if entity.id.nil? %>
          <%= f.button t(:save), type: :submit %>
        </td>
      </tr>
      </tfoot>
    </table>
<% end %>
