<% content_for :meta_title, t('.title', name: @entity.name) %>
<% content_for :breadcrumbs do %>
  <%= admin_biovision_component_link(component_handler.component) %>
  <%= link_to(t('admin.sites.nav_item.text'), admin_sites_path) %>
  <span><%= @entity.name %></span>
<% end %>

<article>
  <h1><%= @entity.name %></h1>

  <ul class="actions">
    <li><%= edit_icon(@entity) %></li>
  </ul>

  <dl class="fields">
    <div>
      <dt>ID</dt>
      <dd><%= @entity.id %></dd>
    </div>

    <% unless @entity.image.blank? %>
      <div>
        <dt><%= @entity.class.human_attribute_name(:image) %></dt>
        <dd>
          <figure role="group" class="preview">
            <%= site_image(@entity) %>
          </figure>
        </dd>
      </div>
    <% end %>

    <div>
      <dt><%= @entity.class.human_attribute_name(:host) %></dt>
      <dd>
        <%=
          link_to(
              @entity.host,
              @entity.host,
              target: '_blank',
              rel: 'external noopener noreferrer'
          )
        %>
      </dd>
    </div>

    <%= render partial: 'shared/entity/text_fields', locals: { entity: @entity, list: %w[description token] } %>
    <%= render partial: 'shared/entity/uuid', locals: { entity: @entity } %>
    <%= render partial: 'shared/entity/timestamps', locals: { entity: @entity } %>
  </dl>

  <%= render(partial: 'shared/admin/toggle', locals: { entity: @entity }) %>
</article>
